.CartItems{
 margin: 100px 170px;
}
.CartItems hr{
  height: 3px;
  background: white;
  border: 0;   
}
.cartitems-fomart-main{
 display: grid;
 grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
 align-items: center;
 gap: 75px;
 padding: 20px 0px;
 color: #454545;
font-size: 18px;
font-weight: 600;
}

.cartitem-format{
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}


.cart-quantity{
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: white;
}
.cart-down{
 display: flex;
 margin :100px 0px;
}
.cartitem-total{
flex:1;
justify-content: space-between;
flex-direction: column;
margin-right: 200;
gap: 40px;
}

.cartitems-total-item{
gap: 40px;
justify-content: space-between;
padding: 15px 0px;
}
button{
width: 262px;
height:58px;
border: none;
outline: none;
background: lightblue;
color: #fff;
font-size: 16px;
font-weight: 600;
cursor: pointer;
}