.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 50vh;
  background: white;
}

.popular h1 {
  color: black;
  align-items: center;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background-color: black;
}

.popular-items {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
}

.popular-item {
  margin: 2px; /* Adjusted margin between items */
  display: flex; /* Set display to flex */
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; 
  gap: 5px;;
  width: calc(50% - 4px); /* Adjusted width with reduced margin */
}


.popular-item img {
  width: 50px; /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 2px; /* Add space below the image */
  align-items: center;
}

.popular-item .name {
  font-weight: bold; /* Make item name bold */
}

.popular-item .price {
  color: white; /* Example: Price color */
}
